.nodecoration{
  text-decoration: none;
  color: black;
}
.tilewidth{
  width: 50%;
}
.btn:focus{
  box-shadow: none;
}
.nolink{
  text-decoration: none;
  color: black;
}
.phonenumber{

}
.phonenumber::-webkit-scrollbar{
  width: 0px;
}

@media screen and (max-width: 575px) {
  .tilewidth{
    width: 100%;
  }
}
