<form class="mx-5 d-flex flex-column mt-4" #changepasswordform="ngForm" enctype="multipart/form-data" (ngSubmit)="changePassword(changepasswordform)">
  <div ngModelGroup = 'oldcred' class="d-flex flex-column">
    <mat-form-field appearance="legacy">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="Email" [ngModel]="email" name="email" required readonly email>
    </mat-form-field>
    <mat-form-field appearance="legacy" class="tilewidth">
      <mat-label>{{"password" | titlecase}}</mat-label>
      <input matInput type="password" [autocomplete]="false"
             placeholder="old password" ngModel name="password" required pattern="^((?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[$@$!%*#?&]))[A-Za-z\d$@$!%*#?&]{8,}$">
      <mat-error>required a valid password</mat-error>
    </mat-form-field>
  </div>
  <mat-form-field appearance="legacy" class="tilewidth">
    <mat-label>{{"password" | titlecase}}</mat-label>
    <input matInput type="password" [autocomplete]="false"
           placeholder="new password" ngModel name="newpassword" required pattern="^((?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[$@$!%*#?&]))[A-Za-z\d$@$!%*#?&]{8,}$">
    <mat-error>required a valid password</mat-error>
  </mat-form-field>
  <mat-form-field appearance="legacy" class="tilewidth">
    <mat-label>{{"confirm password" | titlecase}}</mat-label>
    <input matInput type="password" [autocomplete]="false" placeholder="password" ngModel name="confirmpassword" required appPasswordValidator
           [password]="changepasswordform.form.value['newpassword']">
    <mat-error>should be same as password</mat-error>
  </mat-form-field>
  <div class="py-2">
    <button class="btn btn-primary" formenctype="multipart/form-data" [disabled]="!changepasswordform.valid" type="submit">Change Password</button>
  </div>
</form>
