<ng-template appPlaceholder ></ng-template>
<div class="container-fluid card d-flex flex-column p-0 border-bottom-0">
  <div class="card-header d-flex flex-row justify-content-between px-1 py-0 border-bottom-0" style="z-index: 0">
    <h2>{{heading}}</h2>
    <a class="text-decoration-none text-black" [routerLink]="'./'" [queryParamsHandling]="'preserve'" [preserveFragment]="true" (click)="onSeeAllChange()">
      <span *ngIf="!isFullScreen">Show All</span>
      <span *ngIf="isFullScreen">Hide</span>
    </a>
  </div>
  <div class="card-body d-flex flex-row scroll px-1 py-1 sticky-top" style="z-index: 1"
       [ngClass]="{ 'flex-wrap view' : isFullScreen, 'overflow' : !isFullScreen}"
       infiniteScroll [scrollWindow]="false" [infiniteScrollDistance]=" isFullScreen ? 0.05 : 0.027 "
       [horizontal] = " !isFullScreen " [alwaysCallback]="true"
       [infiniteScrollThrottle]="1000" (scrolled)="onScroll($event)" >
    <app-news-card *ngFor="let i of data" [data]="i" [fav]="isfav(i)" [fullviewemitter]="fullviewcardDataEmitter"></app-news-card>
    <div class="row align-items-center" *ngIf="isLoading">
      <span class="spinner-border mx-3 p-3"></span>
    </div>
  </div>
</div>
