<ng-template appPlaceholder ></ng-template>
<app-header></app-header>
<div class="container shadow  size mt-3 mx-0 mx-sm-auto">
  <div class="row" >
    <div class="d-flex flex-sm-row flex-column">
      <div class="col-2 d-flex flex-sm-column flex-row" style="border-color: rgba(180,180,180,60%); border-right: 2px solid">
        <a class="btn" routerLink="./userdetails" routerLinkActive="active" >{{"user details" | titlecase}}</a>
        <a class="btn" routerLink="./changeemail" routerLinkActive="active">{{"change email"|titlecase}}</a>
        <a class="btn" routerLink="./changepassword" routerLinkActive="active">{{"change password"|titlecase}}</a>
      </div>
      <div class="col-10 ">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
